* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #04364a;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  height: 100vh;
  padding: 0 20px 0 20px;
}

.login h1 {
  color: var(--hitam, #18152d);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.navbar-brand span, .login h1 span {
  color: var(--putih, #faf7f4);
}

.login p {
  color: var(--hitam, #18152d);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login small{
  color: var(--hitam, #18152d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0px;
}

.left-box {
  border-radius: 15px 0 0 15px;
  background-color: white;
}

.box-area{
  width: 700px;
  height: 450px;
}

.group-input {
  position: relative;
}

.group-input img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.group-input input {
  padding-right: 30px;
  position: relative;
  
}

nav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn {
  font-size: 14px;
  font-weight: 400;
}
.nav-item button {
  background-color: #032736;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

@media only screen and (max-width: 768px) {
  .box-area {
    background-color: #64ccc5;
    margin: 0px;
    max-width: 420px;
    width: 100%;
  }
  .login {
    height: auto;
  }
  .left-box {
    height: 200px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
  }

  .right-box {
    height: 55vh;
    border-radius: 0 0 0 15px;
  }
}

