* {
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: #04364A;
  }
  
  .nav {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: #64CCC5;
  }
  
  #img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  i {
    color: #0f0f0f;
    font-size: 20px;
  }
  
  .dropdown-toggle::after {
    display: none;
  }

  .status{
    background-color: #ccf8f4;
    min-height: 100vh;
    width: 50%;
  }

  .timestamp {
    font-size: 14px;
  }

  .fa-paper-plane {
    color: white;
  }
  
  textarea {
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

input#image {
    border-radius: 10px;
    padding: 10px;
}

.tweet {
  background: #fff;
}

.btn {
  width: 45px;
}

.foto {
  width: 28px;
  height: 28px;
  margin-left: 56px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.foto-status {
  width: 60%;
  max-height: 460px;
  overflow: hidden;
  border-radius: 5px;
}

.foto-status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media only screen and (max-width: 767px) {
  .nav {
    width: 100%;
  }
  
  .status {
    width: 100%;
  }

  body {
    background-color: #ccf8f4;
  }

  .status {
    width: 100%;
    border-radius: 10px;
  }
  .kolom1, .kolom3 {
    width: 8.33%;
  }
  .kolom2 {
    width: 25.33%;
  }

  .fa-paper-plane {
    margin-left: -3px;
    font-size:medium;
  }

  .btn {
    width: 40px;
  }
}